# {{ ansible_managed }}

D /var/lock/{{ item.service_name }} 2755 {{ blazar_system_user_name }} {{ blazar_system_group_name }}
D /var/run/{{ item.service_name }} 2755 {{ blazar_system_user_name }} {{ blazar_system_group_name }}